D:/other studies/Obsidian_remote_repo/2025 SEM 2/Actuarial Stats ACTL30004/Assignment 2/.Rproj.user/shared/notebooks/DEE143B7-assignment/1/s/cj42r7fvb9ecf_t